{{ 'main-service.css' | asset_url | stylesheet_tag }}

<div class="services page-width">
    <div class="services-item">
      <div class="services-item-icon">
          {% render "icon-shipping" %}
      </div>
      <div class="services-item-body">
          <h4>Free Shipping</h4>
          <p>Free shipping on orders over $65. </p>
      </div>
    </div>
    <div class="services-item">
      <div class="services-item-icon">
        {% render "icon-returns" %}
      </div>
      <div class="services-item-body">
          <h4>
            Free returns
            </h4>
          <p> 30-days free return policy.  </p>
      </div>
    </div>
    <div class="services-item">
      <div class="services-item-icon">
        {% render "icon-payments" %}
      </div>
      <div class="services-item-body">
          <h4>
            Secured payments
            </h4>
          <p> We accept all major credit cards. </p>
      </div>
    </div>
    <div class="services-item">
      <div class="services-item-icon">
        {% render "icon-service" %}
      </div>
      <div class="services-item-body">
          <h4>
            Customer service
            </h4>
          <p> Top notch customer setvice. </p>
      </div>
    </div>
</div>

<div>

</div>

{% schema %}
{
  "name":"Services",
  "tag": "section",
  "class": "services-section",
  "presets": [
    {
      "name":"Services"
    }
  ]
}
{% endschema %}