<style>

    .nav{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    @media screen and (min-width:750px){
      .nav{
        justify-content: center;
      }
    }
    .nav li{
      list-style: none;
    }
    .nav-link{
      margin: 0 25px 0 0;
      cursor: pointer;
      border: none;
      background: transparent;
    }
    .tab-pane{
      width: 100%;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.2s cubic-bezier(0.2, 0.35, 0.25, 1);
    }
    .tab-pane.active{
      opacity: 1;
    }
    .tab-content {
      position: relative;
      transition: height 0.3s cubic-bezier(0.2, 0.35, 0.25, 1);
    }
    .tabNav_line{
      width: 90px;
      height: 2px;
      background-color: rgb(var(--color-badge-background));
    }
</style>
<ul class="nav" id="pills-tab" role="tablist">
    <li class="tabNav_line color-accent-2"></li>
    <li class="nav-item" role="presentation">
      <button class="title h3 nav-link active" id="pills-description-tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="title h3 nav-link" id="pills-reviews-tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">Reviews</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
      {{ product.metafields.my_fields.additional_description }}
    </div>
    <div class="tab-pane" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
      {% for block in section.blocks %}
        {%- case block.type -%}
        {%- when '@app' -%}
        {% render block %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>

<script>
  document.querySelectorAll('.nav-link').forEach(item=>{
    item.addEventListener('click', e=>{
      var target = e.target.getAttribute('aria-controls');
      var targetDOM = document.getElementById(target);

      const clearActiveStatus = function () {
        document.querySelectorAll('.tab-pane').forEach(item=>{
        if(item.classList.contains("active")){
          item.classList.remove("active");
        }
        })
      }
      const updateTabHeight = function () {
        var tab = document.querySelector('#pills-tabContent');
        console.log(document.querySelector('.tab-pane.active').offsetHeight)
        tab.style.height = document.querySelector('.tab-pane.active').offsetHeight + 'px';
      }
      clearActiveStatus();
      if(! targetDOM.classList.contains('active')){
        targetDOM.classList.add('active');
      }
      updateTabHeight();
    })
  })
</script>
{% schema %}
{
    "name": "Description",
    "tag": "section",
    "class": "page-width",
    "blocks":[
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name":"Description"
        }
    ]
}
{% endschema %}