
<div>
    {% render 'newsletter' %}

</div>
{% schema %}
{
    "name": "Signup",
    "tag":"section",
    "settings": [
        
    ],
    "presets": [
        {
            "name":"Signup"
        }
    ]
}
{% endschema %}