.footer__payment{
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.6rem;
}
.list-payment {
  filter:grayscale(1);
  display: flex;
  margin: -0.5rem;
  padding-top: 1rem;
  padding-left: 0;
}

.list-payment__item {
  display: flex;
  padding: 0.5rem;
}
