.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    flex-direction: row;
    align-items: flex-start;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding-right: 5rem;
  border:none;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }

  .newsletter-form__message--success {
    position: absolute;
    left: 0;
    bottom: -65%;
  }
}

button.btn-primary{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  overflow: visible;
  margin: auto;
  height: 4.5rem;
  border-radius: 0;
}

.newsletter-form .field{
  display: block;
}

.newsletter-form .field__input{
  box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 0.25) !important;
  border-radius: 2px;
}

.newsletter small{
  color: rgba(var(--color-foreground), 0.6) !important;
  font-size: 1.4rem;
}