.customers-container{
  display: flex;
  margin: 3rem 0;
}

.subtitle{
  font-size: 1.8rem;
}
.customers-container .glide{
  margin-top: 2rem;
  margin-left: 2rem;
}

.customers__reviews-name{
  margin-top: 2rem;
}
.customers__reviews-position{
  font-weight: 500;
}
.customers-container .glide__bullets{
  margin-top: 2rem;
}
.glide__bullet{
  width: 14px;
  height: 14px;
  margin: 5px;
  border-radius: 50px;
  border: 2px solid transparent;
  display: inline-block;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
  background-color: #F8F8F8;
}
.glide__bullet::after{
  background: currentColor;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50px;
  margin: -2px 0 0 -2px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.glide__bullet--active{
  border-color: rgb(50, 53, 60);
} 
.glide__bullet--active::after{
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
} 
.glide__bullet:hover{
  border-color: rgba(40, 51, 78, 0.3);
}
@media screen and (min-width: 750px) {
  .customers__reviews,
  .customers__banner{
    width: 50%;
  }
  .customers__reviews .glide{
    width: 100%;
  }
  .customers__reviews{
    padding-right: 8rem;
  }
}