.newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.newsletter__wrapper {
  padding-right: 4rem;
  padding-left: 4rem;
}
.newsletter{
  margin: 0 -5rem;
}
.newsletter > div{
  padding: 2rem 5rem;
}
@media screen and (min-width: 750px) {
  .newsletter{
    display: flex;
  }
  .newsletter .newsletter__wrapper{
    width: 45%;
  }
  .newsletter .signUp__wrapper{
    width: 55%;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 1.8rem;
}

.newsletter__wrapper .newsletter-form {
  margin-bottom: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

.newsletter p {
  margin: 1rem 0 !important ; 
}

.signUp__image img{
  width: 100%;
  height: auto;
}
@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
  .signUp__wrapper{
    display: flex;
    align-items: stretch;
  }
  .signUp__titles,
  .signUp__image{
    width: 50%;
  }
}
