.carousel-container {
    width: 100%;
    margin-top: -110px;
}
.carousel-container .carousel-wrapper .slide {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .2s linear;
}
.banner__media{
    height: 100%;
}
.carousel-container .carousel-wrapper .slide.active{
    opacity: 1;
    transition: all .2s linear;
}
.carousel-container {
    position: relative;
    height: 100vh;
}
.carousel-container img {
    display: block; /*取消图片右边的缝隙*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 50%;
}

.carousel-container .control-btn {
    position: absolute;
    top: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}
.carousel-container .control-btn .icon{
    width: 2rem;
    height: 2rem;
}
.carousel-container .control-btn:hover {
    background-color: rgba(0, 0, 0, 0.774);
}
.carousel-container .control-btn-prev {
    transform: rotate(90deg);
    left: 3rem;
}
.carousel-container .control-btn-prev .icon{
    margin-bottom: -0.8rem;
}
.carousel-container .control-btn-next {
    transform: rotate(-90deg);
    right: 3rem;
}

.carousel-container .control-btn-next .icon{
    margin-bottom: -0.4rem;
}

.banner__content{
    position: absolute;
    top: 25vh;
    width: 60%;
}

.banner__address{
    margin-top: 2.4rem;
    display: flex;
}

.banner__address-content{
    font-size: 1.5rem;
    line-height: 0;
    padding-right: 2rem;
    border-top: 2px solid #797A7D;
}

.banner__address-content:last-child{
    margin-left: 2rem;
}

.banner__address-city{
    margin-top: 3rem;
    font-weight: 600;
}

.banner__address-detail{
    line-height: 1;
}

@media screen and (max-width: 989px) {
    .carousel-container {
        height: 75vh;
    }
    .banner__content{
        width: 100%;
        top: 15vh;
    }
  }